* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #d5e1ef;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Outfit", sans-serif;
  }
  
  .card {
    width: 320px;
    height: 497px;
    background-color: white;
    text-align: center;
    border-radius: 20px;
  }
  
  .card img {
    max-width: 288px;
    max-height: 288px;
    margin-top: 16px;
    border-radius: 10px;
  }
  
  .card h1 {
    font-size: 22px;
    font-weight: 700;
    color: #1f3251;
    margin: 25px 35px 0px 35px;
  }
  
  .card p {
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    margin: 15px 38px 40px 38px;
  }
  